# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/
pytest

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log

fastapi
uvicorn
httpx